 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="wrapper">
      
        <div class="poll-area form-group">
            <input type="hidden" name="id" value="">
            <input type="text" id="wallet-address" value="" name="name" placeholder="FAK">
        </div>

        <div class="poll-area form-group">
            <input type="text" id="wallet-address" value="" name="wallet" placeholder="Choice Wallet Address">
        </div>

        <div class="poll-area form-group">
            <input type="text" id="wallet-address" value="" name="election" placeholder="Election Type">
        </div>

        <div class="poll-area form-group">
            <input type="text" id="wallet-address" value="" name="bio" placeholder="About Candidate">
        </div>

        <div class="poll-area">
            <button class="button" type="submit" class="btn text-dark update">Creat</button>
        </div>

    </div>
</form>