<% for(var i = 0; i < users.length; i++) { %>

    <div class="wrapper">
        <div class="features">
            <ul>
                <li class="speech tts"><i class="fas fa-volume-up"></i></li>
                <li class="copy"><i class="fas fa-copy"></i></li>
                <li class="twitter"><i class="fab fa-twitter"></i></li>
            </ul>
        </div>
        <header><%= users[i].election %></header>
        <div class="content">
            <div class="quote-area">
                <p class="quote"><%= users[i].bio %></p>
            </div>
        </div>
        <div class="buttons">
            <div class="features">
                <div class="button">
                    <div class="poll-area"></div>
                    <input type="checkbox" name="poll" id="opt1" value="one">
                </div>
    
                <div class="button" on:click={handleClick}>
                    <div class="poll-area"></div>
                    <input type="checkbox" name="poll" id="opt2" value="two">
                    <label for="opt2" class="opt2">
                        <div class="row">
                            <div class="column">
                                <span class="circle"></span>
                                <span class="text">Vote <%= users[i].name %></span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
<% } %>