<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->

        <div id="total_gov_coin" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        <div id="error" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>

        
        <section>
            <p>
                Choice Coin is an Algorand Standard Asset that powers Decentralized Decisions, a voting and governance software built
                directly on the Algorand Blockchain. Decentralized Decisions enables organizations to make governance decisions in an
                open and decentralized manner. For the Choice Coin DAO, Decentralized Decisions leverages Proof-of-Participation as a
                governance mechanism, allowing voters to have a larger say in direct proportion to their contribution to the network.
                Decentralized Decisions is now live! Check out the link below to vote on the first proposal for the Choice Coin DAO:
                Vote 0.
            </p>
            <!-- form handling -->
            <form action="/" method="POST">
                <%- include('partials/_show') %>
            </form>
<% for(var i = 0; i < users.length; i++) { %>
            <div class="main">
                <div class="poll-area">
                    <input type="text" id="wallet-address" autofocus name="from" placeholder="Amount of choice">
                </div>
                <button class="button" onclick="myAlgoWalletSign()">Vote</button>
            </div>
<% } %>

        </section>

<!-- include header -->
<%- include('partials/_footer') %>
<!-- /include header -->