@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #c4c4c4;
}
::selection{
  color: #fff;
  background: #929292;
}
.main{
  background: rgb(216, 216, 216);
  border-radius: 15px;
  padding: 25px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.main header{
  font-size: 22px;
  font-weight: 400;
}
.main .poll-area{
  margin: 15px 0 10px 0;
}
.poll-area label{
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
}
.poll-area label:hover{
  border-color: #ddd;
}
label.selected{
  border-color: #109987!important;
}
label .row{
  display: flex;
  pointer-events: none;
  justify-content: space-between;
}
label .row .column{
  display: flex;
  align-items: center;
}
label .row .circle{
  height: 19px;
  width: 19px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
label.selected .row .circle{
  border-color: #109987;
}
label .row .circle::after{
  content: "";
  height: 11px;
  width: 11px;
  background: #109987;
  border-radius: inherit;
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}
.poll-area label:hover .row .circle::after{
  display: block;
  background: #e6e6e6;
}
label.selected .row .circle::after{
  display: block;
  background: #109987!important;
}
label .row span{
  font-size: 16px;
  font-weight: 400;
}
label .row .percent{
  display: none;
}
label .progress{
  height: 7px;
  width: 100%;
  position: relative;
  background: #f0f0f0;
  margin: 8px 0 3px 0;
  border-radius: 30px;
  display: none;
  pointer-events: none;
}
label .progress:after{
  position: absolute;
  content: "";
  height: 100%;
  background: #ccc;
  width: calc(1% * var(--w));
  border-radius: inherit;
  transition: all 0.2s ease;
}
label.selected .progress::after{
  background: #109987;
}
label.selectall .progress,
label.selectall .row .percent{
  display: block;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}

nav {
    height: 60px;
    z-index: 5px;
    background-color: #0c817b;
    margin: 0;  
    align-items: center; 
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.left {
    flex-direction: row;
    align-items: center;
}

.right {
    flex-direction: column;
    align-items: center;
}

#walletbtn {
    border-radius: 3px;
    box-shadow: 0px 1px 3px #109987;
    margin: 5px;
}

.assets {
    background-color: #f1f1f1;;
    border-radius: 3px;
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    box-shadow: 0px 1px 3px #109987;
    margin: 5px;
    display: none;
    width: 600px;
}

.show {
    display: block;
    height: 20px;
    cursor: pointer;
    border: 1px soid red;
    box-shadow: 1px 1px 2px grey;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
  
/* li a:hover:not(.active) { */
    /* background-color: #111; */
/* } */
  
.active {
    background-color: #04AA6D;
}

#wallet-address {
    border: none;
    background-color: #e9e5e5;
    margin-left: auto;
    width: 100%;
    color:black;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    padding: 12px;
    font-size: 8px;
}

button{
    width: 100%;
    border-radius: 4px;
    border: none;
    resize: vertical;
    box-sizing: border-box;
    padding: 12px;
    font-size: 20px;
    background-color:#109987;
    cursor: pointer;
    font-weight: 200;
    color: white;
}



.alert {
    /* text-transform: capitalize; */
    padding: 20px;
    background-color: #da2114;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}

.error_show{
    display: block;
}

.show {
    padding-top: 20px; 
    display: block;
    background-color: #f3b304;
    color: white;
    text-transform: capitalize;
    font-size: 11px;
    text-align: center;
}
  
.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.wrapper{
  width: 320px;
  height: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
header, .content :where(i, p, span){
  color: #202842;
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .content{
  margin: 15px 0;
}
.content .quote-area{
  display: flex;
  justify-content: center;
}
.quote-area i{
  font-size: 15px;
}
.quote-area i:first-child{
  margin: 3px 10px 0 0;
}
.quote-area i:last-child{
  display: flex;
  margin: 0 0 3px 10px;
  align-items: flex-end;
}
.quote-area .quote{
  font-size: 22px;
  text-align: center;
  word-break: break-all;
}
.content .author{
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
  justify-content: flex-end;
}
.author span:first-child{
  margin: -7px 5px 0 0;
  font-family: monospace;
}
.wrapper .buttons{
  border-top: 1px solid #ccc;
}
.buttons .features{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.features ul{
  display: flex;
}
.features ul li{
  margin: 5px 5px;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  color: #44ec8a;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #44ec8a;
  transition: all 0.3s ease;
}
.features ul li:first-child{
  margin-left: 0;
}
ul li:is(:hover, .active){
  color: #fff;
  background: #44ec8a;
}
ul .speech.active{
  pointer-events: none;
}
.buttons button{
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: #44ec8a;
}
.buttons button.loading{
  opacity: 0.7;
  pointer-events: none;
}
